<article class="blog-card" [class]="post.status ? 'visible' : 'hide'">
  <div class="blog-card-header">
    <a class="href" [routerLink]="['/profile', post.authorUsername]">
      <div class="pp-circle1">{{ post.authorUsername | slice:0:1 | uppercase }}</div>
    </a>
    <div class="blog-meta">
      <a class="href" [routerLink]="['/profile', post.authorUsername]">
        <span class="blog-author">{{ post.authorUsername }}</span>
      </a>
      <span class="blog-time">{{ post.timestamp | timeAgo }}</span>
    </div>

    <button class="more-btn" [matMenuTriggerFor]="postMenu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #postMenu="matMenu" class="post-menu">
      <ng-container *ngIf="post.authorUsername === currentUser.username; else reportTpl">
        <button mat-menu-item (click)="editPost(post)"><mat-icon>edit</mat-icon> Edit Post</button>
        <button mat-menu-item class="delete-item" (click)="deletePost(post)">
          <mat-icon>delete</mat-icon> Delete Post
        </button>
      </ng-container>
      <ng-template #reportTpl>
        <button mat-menu-item (click)="reportPost(post)">
          <mat-icon>flag</mat-icon> Report Post
        </button>
      </ng-template>
    </mat-menu>
  </div>

  <div class="blog-body">
    <h2 class="blog-title">{{ post.title }}</h2>

    <div class="blog-content">
      <p class="blog-text">{{ post.content }}</p>
    </div>
  </div>

  <div class="media-slider" *ngIf="post.imageUrls && post.imageUrls.length > 0">
    <div class="slide-counter" *ngIf="post.imageUrls.length > 1">
      <mat-icon>photo_library</mat-icon>
      {{ currentSlide + 1 }} / {{ post.imageUrls.length }}
    </div>

    <div class="slider-track" [style.transform]="'translateX(-' + currentSlide * 100 + '%)'">
      <div class="slide" *ngFor="let url of post.imageUrls">
        
        <ng-container *ngIf="isVideo(url)">
          <div class="video-badge"><mat-icon>videocam</mat-icon> Video</div>
          <video controls class="slide-video">
            <source [src]="url" type="video/mp4" />
          </video>
        </ng-container>

        <ng-container *ngIf="!isVideo(url)">
          <img [src]="url" class="slide-img" alt="Post media" />
        </ng-container>

      </div>
    </div>

    <ng-container *ngIf="post.imageUrls.length > 1">
      <button class="slider-arrow prev" (click)="prevSlide()" [disabled]="currentSlide === 0">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button class="slider-arrow next" (click)="nextSlide()" [disabled]="currentSlide === post.imageUrls.length - 1">
        <mat-icon>chevron_right</mat-icon>
      </button>
      <div class="slider-dots">
        <button
          class="dot"
          *ngFor="let u of post.imageUrls; let i = index"
          [class.active]="i === currentSlide"
          (click)="goToSlide(i)"
        ></button>
      </div>
    </ng-container>
  </div>

  <div class="blog-actions">
    <button class="action-btn like-btn" [class.liked]="post.isLiked" (click)="toggleLike()">
      <mat-icon>{{ post.isLiked ? 'favorite' : 'favorite_border' }}</mat-icon>
      <span>{{ post.nbrLikes }}</span>
    </button>

    <button class="action-btn comment-btn" (click)="toggleComments(post)">
      <mat-icon>chat_bubble_outline</mat-icon>
      <span>{{ post.nbrComments }}</span>
    </button>
  </div>

  <div class="comments-section" *ngIf="showComments">
    <div class="comments-list">
      <div class="comment" *ngFor="let c of Comments()">
        <div class="pp-circle1 pp-sm">{{ c.authorUsername | slice:0:1 | uppercase }}</div>
        <div class="comment-body">
          <span>
            <span class="comment-author">{{ c.authorUsername }}</span>
            <p class="comment-text">{{ c.content }}</p>
            <span class="blog-time">{{ c.timestamp | timeAgo }}</span>
          </span>
          <span class="comment-actions">
            <button
              class="delete-comment-btn"
              *ngIf="c.authorUsername === currentUser.username"
              (click)="OpenDeleteConfirmation(c)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </span>
        </div>
      </div>

      <div #commentScrollAnchor class="scroll-anchor">
        <span *ngIf="isCommentsLoading">Loading older comments...</span>
      </div>
    </div>

    <div class="comment-form">
      <div class="pp-circle1 pp-sm">
        {{ currentUser.username | slice:0:1 | uppercase }}
      </div>

      <div class="comment-input-wrap">
        <input
          type="text"
          class="comment-input"
          placeholder="Write a comment…"
          [(ngModel)]="newCommentText"
          (keyup.enter)="addComment(post)"
        />
        <button class="comment-send" (click)="addComment(post)" [disabled]="isSubmittingComment">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
  </div>
</article>